{% extends 'base.html' %}
{% block title %}
Home
{% endblock title %}
{% block body %}
{% load static %}
<h4><span class="badge badge-pill badge-danger">Breaking News</span></h4>
<span><marquee class="text-danger inline" direction="left" scrollamount=15 >This is for sample</marquee></span>
 <!-- <div class="row">
  <div class="col-lg-12 col-sm-12 mb-4">
    <div class="card shadow border-0 h-100"><img class="img-fluid card-img-top"
        src="{%static "home/logo.png"%}" alt="...">
      <div class="card-body">by Milan  
        <h5 class="my-2">this is for testing purpose i want to see the output</h5>
        <small>  60 <i class="fa fa-eye fa-0x" aria-hidden="true"></i></small>
        <p class="text-gray-500 text-sm my-3"><i class="far fa-clock mr-2"></i>25th Aug,2020</p>
        <p class="my-2 text-muted text-sm">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque repellat porro expedita tempore aspernatur ducimus obcaecati nam necessitatibus, quaerat officiis cum vero, odit veniam, cupiditate distinctio dolorem. Voluptates, optio laborum.</p>
      </div>
    </div>
  </div>
  </div> -->
  <div class="col-md-8 pt-4 aos-init aos-animate" data-aos="fade-up">
    <h3>Voluptatem dignissimos provident quasi corporis voluptates sit assumenda.</h3>
    <p class="fst-italic">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua.
    </p>
    <ul>
      <li><i class="bi bi-check"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
      <li><i class="bi bi-check"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
      <li><i class="bi bi-check"></i> Iure at voluptas aspernatur dignissimos doloribus repudiandae.</li>
      <li><i class="bi bi-check"></i> Est ipsa assumenda id facilis nesciunt placeat sed doloribus praesentium.</li>
    </ul>
    <p>
      Voluptas nisi in quia excepturi nihil voluptas nam et ut. Expedita omnis eum consequatur non. Sed in asperiores aut repellendus. Error quisquam ab maiores. Quibusdam sit in officia
    </p>
  </div>
{% endblock body %}