{% extends 'base.html' %}
{% block title %}ରବିରରାଗ-Photos
{% endblock title %}
</style>
{% block body %}
{% load static %}
    <div class="container">
        <div class="row H_content">
            <div class="col-sm-12">
                <div class="Heading-Section">
                    <h3>RabiRaRaga</h3>
                </div>
                <div>
                    <p>Optimize your visit and don’t miss out on a destination near you.</br>
                        You are spoilt for choices.<strong> Explore many pre-packaged trails & tours below</strong></p>
                </div>
            </div>

        </div>

    </div>
    <div class="container Service pt-4">
        <div class="row mt-5 mb-2">
    {% for photo in allPhoto %}
            <div class="col-md-4 my-2">
                <div class="single-box mb-2">
                    <div class="box-img">
                      <img src="/media/{{photo.image}}" class="img-respons">
                    </div>
                    <div class="box-content">
                        <div class="upper-info pl-3">
                            <div class="pkgdetail">
                                <p>
                                    <label class="my-2">by {{photo.cameraman}}</label>
                                    <strong><span class="text-primary">{{photo.title}}</span></strong>
                                    <p><span>{{photo.decs}}</span></p>
                                </p>
                            </div>
                        </div>     
                    </div>
                </div>
            </div>
            {% endfor %}
</div>
    </div>
{% endblock body %}